div{
    margin: 20px 124px; 
    background: #fff;
    width: 1000px;
    height: 800px;
    }
div span{
	margin-left: 248px;
    }
body {
	background: #f3f3f3;
    text-align: center;
    font-size: 12px;
    font-family: "ו",Tahoma, Arial, Helvetica, sans-serif;
    color: #333;
}
form{
    margin-div:center;
    width: 210px;
    height: 100px;
    color: lightslategray;
}

form input{
    background-color: #becdee;
    width: 300px;
    height: 30px;
}

form span{
    text-align: center;
}

form em{
	margin-left:180px;
	display: inline-block;
    width: 210px;
}

form a{
	text-decoration:none;
	margin-left:220px;
 	display: inline-block;
	width:210px;
}


